<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
 <div class="home-list"><p class="home-item"><a href="../../index.html" class="link-back">Go back</a></p></div>

    <form class="search-form" id="search-form">
      <input
        class="text-input button-56-s"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button class="submit-btn button-56-s" type="submit">Search</button>
    </form>
    <div class="gallery"></div>
    <button type="button" class="load-more unvisible">Load more</button>
    <script src="../../js/hw-11-js/hw-11.js" type="module"></script>
  </body>
</html>