<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
     <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
     
    <title>Homework 10</title>
  </head>
  <body>
 <div class="home-list"><p class="home-item"><a href="../../index.html" class="link-back">Go back</a></p></div>

    <select class="breed-select" id="single"></select>
    <span class="loader"></span>
    <p class="error">Oops! Something went wrong! Try reloading the page!</p>
    <div class="cat-info"></div>

    <script src="../../js/hw-10-js/hw-10.js" type="module"></script>
    
  </body>
</html>