<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleLightbox library</title>
    <link rel="stylesheet" href="../../css/hw-8-css/1-gallery.css" />
  </head>
  <body>
 <div class="home-list"><p class="home-item"><a href="../../index.html" class="link-back">Go back</a></p></div>

    <!-- Add gallery items to this list -->
    <ul class="gallery"></ul>

    <script src="../../js/hw-8-js/1-gallery.js" type="module"></script>
  </body>
</html>
