<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback form</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
 <div class="home-list"><p class="home-item"><a href="../../index.html" class="link-back">Go back</a></p></div>

    <form class="feedback-form" autocomplete="off">
      <label>
        Email
        <input type="email" name="email" autofocus />
      </label>
      <label>
        Message
        <textarea name="message" rows="8"></textarea>
      </label>
      <button type="submit">Submit</button>
    </form>

    <script src="../../js/hw-8-js/feedback.js" type="module"></script>
  </body>
</html>
